version: '3.8'

services:
  # 1. Database
  db:
    image: postgres:14-alpine
    container_name: ns_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nutrisnap_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  # 2. Main Backend (Business Logic + DB)
  backend:
    build: ./backend
    container_name: ns_backend
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/nutrisnap_db
    ports:
      - '8000:8000'

  # # 3. AI Service (Computer Vision)
  # cv_model:
  #   build: ./nutrisnap-cv-model
  #   container_name: ns_cv_model
  #   ports:
  #     - "8001:8000" # Maps localhost:8001 to container:8000

  # 4. Frontend (UI)
  frontend:
    build: ./frontend
    container_name: ns_frontend
    ports:
      - '3000:3000'
    environment:
      # Use this if you do Server Side Rendering calls,
      # but mostly you'll call localhost:8000 from the browser
      API_BASE_URL: http://backend:8000

volumes:
  postgres_data:
