name: ML Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/train/train.py'
  workflow_dispatch:

jobs:
  build-train:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - uses: actions/checkout@v4

    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      working-directory: src
      run: |
        python -m pip install --upgrade pip
        pip install .

    - name: Run Training
      working-directory: src
      env:
        GCS_PROJECT: ${{ secrets.GCS_PROJECT }}
        GCS_BUCKET: ${{ vars.GCS_BUCKET }}
        GCS_DATA_VERSION: v0
        WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
        MODEL_GCS_URI: gs://nutrisnap-models-new/v0/
        FAST_DEV_RUN: 1
        TRAIN_SAMPLES: 100
        EVAL_SAMPLES: 100
      run: python train/train.py

